*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
  }
  
  body{
  font-family: 'Lato', sans-serif;
  color: #F0D8D9;
  }
  
  .container {
    max-width: 1020px;
      
     background-color: #F06C64;
     padding: 65px 40px ;
     margin: 0 auto; 
  } 
  
  h1 {
    margin-bottom: 30px;
  }
  
  h2{
    margin-bottom: 15px;
  }
  
  .block_1 {
    width: 100%;
    padding-bottom: 50px;  
  }
  
  .block_2, .block_3 {
    padding-bottom: 50px;
    max-width: 620px; 
  }
  .block_3 {
    width: 100%;
  max-width: 300px; 
   margin-left: 20px;
  }
  
  .container_2{
    display: flex; 
    flex-wrap: wrap;
  }
  
  .block_2 input, .block_2 textarea{
    width: 100%;
    height: 48px;
    border: none;
    background-color: #D6564F;
    border-radius: 5px;
    margin-bottom: 16px;
    padding: 16px;
    outline: none;
    color:#F48C8F;
  }
  
  .block_2 textarea{
    height: 200px;
    resize: none;
  }
  
  input::placeholder {
    color: #F48C8F;
    font-size: 12px;
  }
  
  textarea::placeholder { 
    color: #F48C8F;
    font-size: 12px;  
  }
  
  p {
    line-height: 1.6;
    font-weight: 300;
    font-size: 18px;
  }
  
  .contact{
    margin-top: 30px;  
  }
  
  .block_3 span{
    font-size: 12px;
  }
  
  .block_3 p{
    font-size: 12px;
  }
  
  .contact img {
    margin-right: 10px;
  }
  
  #location{
    margin-right: 12px;
    padding-left: 2px;
  }
  
  .send{
    background-color: #FBC65F;
      border: none;
      color: #886A30;
      height: 38px;
      width: 136px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      border-radius: 5px;
      text-transform:uppercase;
  }
  
  footer{  
    display: flex; 
    align-items: center;
    justify-content: space-between;
    max-width: 1020px;
    margin: 0 auto; 
    background-color: #2D303A;
    height: 76px;
    padding: 20px 40px
  }
  
  footer span{
    color: #666D89;
    font-size: 13px; 
    font-weight: 900;
  }
  
  footer img{
    margin-left: 8px; 
  }
  