/* Обнуление*/
*{padding:0;margin:0;border:0; }
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*-------------------- */



* {
   font-family: 'Lato', sans-serif;
}



.container {
   width: 90%;
   max-width: 940px;
   margin: 0 auto;
}
.title {
   color: #666D89;
   font-size: 30px;
   line-height: 36px;
   font-weight: 900;
   text-transform: capitalize;
}
.text {
   font-weight: 300;
   font-size: 18px;
   line-height: 30px;
   color: #767E9E;
   opacity: 0.8;
}
// header section
.header {
   background-color: #2D303A;
   padding: 16px 0;

   &__body {
      display: flex;
      justify-content: space-between;
      position: relative;
      align-items: center;
      height: 35px;
      
   }
   &__logo {
      position: relative;
      z-index: 3;

   }

   &__list {
      display: flex;
      position: relative;
      z-index: 2;
      
   }
   &__list li {
      margin-right: 32px;
      
      &::before {
         content: "\2022";
         color: #fff;
         font-weight: bold;
         display: inline-block; 
         width: 0.7em;
         margin-left: -1em; 
      }
      &:first-child::before {
         content: '';
      }
      
      &:last-child {
         margin-right: 0;
      }
   }
   &__link {
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      color: #fff;
      text-transform: uppercase;
   
      &_active {
         color: #f06c64;
      }

      &:hover {
         color: #f06c64;
         transition: 0.3s;
      }
   }
   &__burger {
      display: none;
      
   }

}

// slider
.slider {
  
  #oddSlide {
     background-color: #F06C64;
  }
   #evenSlide {
      background-color: #648BF0;
   }
   .swiper-container {
   width: 100%;
   }
   .swiper-button-prev {
      color: #E94348;
   }
   .swiper-button-next {
      color: #E94348;
   }
   &__content {
      padding: 57px 0;
   }
   &__img1 {
      margin: 0 0 0 70px;
      width: 23%;
   }

   &__img2 {
      margin: 110px 0 0 180px;
      width: 44%;
   }
   &__img3 {
      display: block;
      margin: 0 auto;
      width: 46.7%;
      
   }

}

// service setion
.service {
   padding: 50px 0 100px 0;

   &__title {
      margin: 0 0 18px 0;
   }

   &__row {
      display: flex;
      flex-wrap: wrap;
      margin: 60px -15px 0 -15px;
   }
   &__column {
      padding: 0 15px;
      flex: 0 0 33.333%;
      margin-bottom: 40px;
   }

   &__item {
      display: flex;
      align-items: start;
   }
   &__img {
      margin-right: 15px;
      height: 83px;
      width: auto;
      padding: 14px;

   }

   &__decr_name {
      font-weight: 900;
      font-size: 18px;
      line-height: 18px;
      color: #666D89;
      opacity: 0.8;
      margin-bottom: 7px;
   }
   &__descr_text {
      font-size: 12px;
      line-height: 22px;
      text-align: justify;
      color: #767E9E;
   }
}